JWT_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
PORT=5000
MONGO_URI=your_mongodb_uri
MISTRAL_API_KEY=your_mistral_api_key
OPENAI_API_KEY=your_openai_api_key
BREVO_API_KEY=BREVO_API_KEY
APP_URL=http://localhost:3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_URL=REDIS_URL
SENDER_EMAIL=ENTER_YOUR_BREVO_EMAIL_HERE
GEMINI_API_KEY=your_gemini_api_key